.contact {
  padding-top: 20vmin;
  padding-bottom: 50px;

  @mixin atMedium {
    padding-top: 150px;
  }

  &__text {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    @mixin atLarge {
      width: 100%;
    }
  }

  &__form {
    position: relative;
    width: 85%;
    max-width: 650px;
    margin: 50px auto;
  }

  &__label {
    display: block;
    position: relative;
    z-index: -5;
    bottom: -10px;
    color: var(--gray);
    font-size: 0.875em;
    letter-spacing: 0.5px;
    transition: bottom 0.3s;

    &--is-focus {
      bottom: 5px;
      color: var(--secondary-color);
    }

    &--required {
      color: red;
    }
  }

  &__label:nth-of-type(3) {
    bottom: 5px;
    margin-top: 10px;
  }

  &__input, &__message {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    color: var(--gray);
    outline: none;

    &:required, &:invalid {
      box-shadow: none;
    }
  }

  &__input {
    border: none;
    border-bottom: solid 2px var(--dark-gray);
    &:focus {
      border-bottom: solid 2px var(--main-color);
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active  {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: var(--white);
      caret-color: var(--white);
}
  }

  &__message {
    margin-top: 5px;
    border: solid 2px var(--dark-gray);
    &:focus {
      border: solid 2px var(--main-color);
    }
  }

  &__submit {
    display: block;
    border: none;
    margin: 0 auto;
    letter-spacing: 1px;
    background-color: var(--main-color);
    background-image: url(/src/img/plane.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 20px 20px;
    padding-right: 45px;

    @mixin atMedium {
      display: inline-block;
    }
  }

  &__aside {
    text-align: center;
    font-size: 0.875em;
    font-weight: 300;
    color: var(--gray);
    letter-spacing: 0.5px;

    @mixin atMedium {
      display: inline-block;
      width: 350px;
    }
  }

  &__aside-span {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--white);
  }
  
  &--required {
    border-color: red !important;
  }
}