.contact {
  padding-top: 20vmin;
  padding-bottom: 50px;

  @mixin atMedium {
    padding-top: 150px;
  }

  &__text {
    width: 85%;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  &__form {
    width: 85%;
    max-width: 650px;
    margin: 50px auto;
  }

  &__label {
    display: block;
    color: var(--gray);
    font-size: 0.875em;
    letter-spacing: 0.5px;
  }

  &__input, &__message {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    color: var(--gray);
  }

  &__input {
    border: none;
    border-bottom: solid 2px var(--dark-gray);
  }

  &__message {
    margin-top: 5px;
    border: solid 2px var(--dark-gray);
  }

  &__submit {
    display: block;
    border: none;
    margin: 0 auto;
    letter-spacing: 1px;
    background-color: var(--main-color);
    background-image: url(/src/img/plane.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 20px 20px;
    padding-right: 45px;

    @mixin atMedium {
      display: inline-block;
    }
  }

  &__aside {
    text-align: center;
    font-size: 0.875em;
    font-weight: 300;
    color: var(--gray);
    letter-spacing: 0.5px;

    @mixin atMedium {
      display: inline-block;
      width: 350px;
    }
  }

  &__aside-span {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--white);
  }
}