.contact-page {
  width: 100vw;
  min-height: 100vh;
  position: relative;

  &__container {
    padding-top: 20vh;
    margin: 0 auto;
    width: 85vw;
    max-width: 650px;
    @mixin atMedium {
      padding-top: 150px;
    }
    @mixin atWide {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1200px;
      width: max-content;
      display: grid;
      grid-template-columns: 420px 650px;
      grid-column-gap: 100px;
    }
  }

  &__heading {
    margin-bottom: 30px;
    max-width: 100%;
    @mixin atWide {
      margin-bottom: 50px;
      grid-column: 2 / 3;
    }
  }

  & .contact__text {
    text-align: left;
    margin-left: 0;
    width: 100%;
  }

  & .contact__form {
    margin-left: 0;
    width: 100%;
    @mixin atLarge {
      margin: 0;
      width: 100%;
    }
  }
}