.hero {
  width: 100vw;
  height: 100vh;
  position: relative;

  &__container {
    margin-left: 7.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 85vw;

    @mixin atMobile {
      top: calc(50vh - 100px);
      transform: none;
    }
  }

  &__heading {
    font-family: 'Montserrat', sans-serif;
    responsive-font-size: 6rem;
    margin: 0;
  }

  &__heading-span {
    color: var(--dark-gray);
  }

  &__subheading {
    font-family: 'Poppins', sans-serif;
    responsive-font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;
    margin: 20px 0 30px 0;
    color: #ccc;
    max-width: 640px;

    @mixin atMobile {
      margin: 10px 0 20px 0;
    }
  }

  &__subheading-span {
    display: none;
    @mixin atMedium {
      display: block;
    }
  }

  &__link {
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
  }

  &__button {
    font-size: 1em;
    padding: 20px 34px;
  }

  &__arrow {
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
  }
}