.i-skills {
  width: 85%;
  margin: 0 auto;
  max-width: 1195px;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 80px;
  }

  &__heading {
    margin-left: auto;
    margin-right: auto;
    @mixin atLarge {
      text-align: center;
    }
  }

  &__languages {
    grid-row: 1 / 4;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: max-content;
  }

  &__item {
    margin-top: 57px;
  }

  &__text {
    color: var(--white);
    line-height: 1.5;
    responsive-font-size: 1.125rem;
    letter-spacing: 0.5px;
  }

  &__icon {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 50%;
    
    &:hover {
      transform: scale(1.1);
    }

    &:nth-of-type(1) {
      background-color: #e4ba42;
    }
    
    &:nth-of-type(2) {
      background-color: #0078cf;
    }

    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(6) {
      border: 5px solid var(--main-bg);
    }
  }


  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    margin: 0;
    user-select: none;
    color: var(--white);
    font-weight: 700;
  }

  &__development, &__methods {
    width: 100px;
    height: 100px;
    background-color: var(--dark-gray);
  }

  &__button {
    margin-top: 50px;
  }
}