.i-skills {
  width: 85%;
  margin: 0 auto;
  max-width: 1195px;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 80px;
  }

  &__heading {
    margin-left: auto;
    margin-right: auto;
    @mixin atLarge {
      text-align: center;
    }
  }

  &__languages {
    grid-row: 1 / 4;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: max-content;
  }

  &__item {
    margin-top: 57px;
  }

  &__text {
    color: var(--white);
    line-height: 1.5;
    responsive-font-size: 1.125rem;
    letter-spacing: 0.5px;
  }

  &__icon {
    width: 100px;
    height: 100px;
    background-color: var(--dark-gray);
  }

  &__button {
    margin-top: 50px;
  }
}