<form method="POST" action="https://www.enformed.io/7kf05ucq" class="contact__form">
  <label for="name" class="contact__label">Name</label>
  <input type="text" name="name" required class="contact__input" />
  <label for="email" class="contact__label">Email</label>
  <input type="email" name="email" required class="contact__input" />
  <label for="message" class="contact__label">Message</label>
  <textarea name="message" cols="30" rows="10" required class="contact__message"></textarea>
  <div>
    <input type="hidden" name="*redirect" value="https://kelliepetersen.github.io/portfolio/contact.html" />
    <input type="submit" value="Send message" class="button contact__submit" />
    <p class="contact__aside">or email me at <a href="mailto:contact@kelliepetersen.com"
        class="contact__aside-span">contact@kelliepetersen.com</a></p>
  </div>
</form>