<div class="menu">
  <div class="menu__background"></div>
  <div class="menu__button">
    <div class="menu__line"></div>
    <div class="menu__line"></div>
    <div class="menu__line"></div>
  </div>
</div>

<nav class="modal">
  <a class="modal__logo modal__link" href="index.html#home">K</a>
  <ul class="modal__container modal__container--big">
    <li class="modal__list-item"><a class="modal__link" href="about.html">ABOUT</a></li>
    <li class="modal__list-item"><a class="modal__link" href="skills.html">SKILLS</a></li>
    <li class="modal__list-item"><a class="modal__link" href="index.html#projects">PROJECTS</a></li>
    <li class="modal__list-item"><a class="modal__link" href="contact.html">CONTACT</a></li>
  </ul>
  <ul class="modal__container">
    <li class="modal__list-item"><a class="modal__link" href="resume.pdf">Download Resume</a></li>
    <li class="modal__list-item"><a class="modal__link" href="http://www.github.com/kelliepetersen/portfolio"
        target="_blank">Github Repository</a></li>
    <li class="modal__list-item"><a class="modal__link" href="http://www.ewanpetersen.com" target="_blank">My Other
        Half</a></li>
  </ul>
  <a class="modal__link modal__email" href="mailto:contact@kelliepetersen.com">contact@kelliepetersen.com</a>
</nav>

<nav class="nav">
  <div class="nav__container">
    <a href="index.html#home" class="nav__logo">K</a>
    <a href="index.html#home" class="nav__name">K<span class="nav__name-span">.</span>Petersen</a>
    <div class="nav__line"></div>
    <ul class="nav__list">
      <li class="nav__section"><a id="about-link" class="nav__link" href="about.html">About</a></li>
      <li class="nav__section"><a id="skills-link" class="nav__link" href="skills.html">Skills</a></li>
      <li class="nav__section"><a id="projects-link" class="nav__link" href="index.html#projects">Projects</a></li>
      <li class="nav__section"><a id="contact-link" class="nav__link" href="contact.html">Contact</a></li>
    </ul>
  </div>
  <ul class="nav__contact">
    <li class="nav__section"><a class="nav__link nav__email-text"
        href="mailto:contact@kelliepetersen.com">contact@kelliepetersen.com</a></li>
    <li class="nav__section nav__email"><a href="mailto:contact@kelliepetersen.com"><img src="src/img/email.svg"
          alt="Email icon" class="nav__email-icon"></a></li>
    <li class="nav__section"><a class="button button--oval button--solid" href="contact.html">Contact</a></li>
  </ul>
</nav>

<nav class="sidebar">
  <div class="sidebar__container">
    <a class="sidebar__icon" href="resume.pdf"><img src="src/img/resume.svg"></img></a>
    <div class="sidebar__description">
      <p class="sidebar__text">Download Resume</p>
      <div class="sidebar__line"></div>
    </div>
  </div>
  <div class="sidebar__container">
    <a class="sidebar__icon" href="http://www.ewanpetersen.com" target="_blank"><img src="src/img/heart.svg"></img></a>
    <div class="sidebar__description">
      <p class="sidebar__text">My Other Half</p>
      <div class="sidebar__line"></div>
    </div>
  </div>
  <div class="sidebar__container">
    <a class="sidebar__icon" href="http://www.github.com/kelliepetersen/portfolio" target="_blank"><img
        src="src/img/github.svg"></img></a>
    <div class="sidebar__description">
      <p class="sidebar__text">Github Repository</p>
      <div class="sidebar__line"></div>
    </div>
  </div>
</nav>

<a class="back-to-top back-to-top--hidden" href=#home>&uarr;</a>