html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Roboto', arial, sans-serif;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  max-height: auto;
}

* {
  box-sizing: border-box;
}