@@include('partials/header.html')
@@include('partials/nav.html')

  <div class="hero" id="home">
    <div class="hero__container">
      <h1 class="hero__heading"><span class="hero__heading-span"><span class="hero__span">About </span></span>me.
      </h1>
      <p class="hero__subheading hero--small">My name is Kellie Petersen. I'm a self taught developer from Australia. I switched careers from reading law to writing code because of my passion for coding.
        <span class="text--block">
          I also attempt designing things.
        </span></p>
    </div>
  </div>

  <section class="text__section about" id="about">
    <div class="about__container">

      <div class="about__inner-container">
        <div class="text__container">
          <h3 class="text__subheading">Who I am</h3>
          <p class="text__paragraph">I'm Kellie, a front-end developer who sometimes attempts designing things. I like turning interesting ideas into usable
          products.</p>
          <p class="text__paragraph">I value learning new tools, writing readable and maintainable code, and creating responsive and accessible websites.</p>
        </div>

        <div class="about__image-container">
          <div class="about__image-border"></div>
          <img src="src/img/kellie.jpg" alt="A photo of Kellie Petersen" class="about__image">
          <div class="about__circle"></div>
        </div>
      </div>

      <div class="about__inner-container">
        <div class="about__australia-container">
          <img src="src/img/australia.svg" alt="An outline of Australia, with a map pin on Brisbane"
            class="about__australia">
          <div class="about__map-pin"></div>
          <div class="about__map-line"></div>
        </div>

        <div class="text__container">
          <h3 class="text__subheading">Where I started</h3>
          <p class="text__paragraph">I grew up in a tiny town nobody's ever heard of, in QLD Australia. I began coding during college as a hobby, and it <em>developed</em> into a passion.</p>
          <p class="text__paragraph">I moved to the USA 2 years ago, and I'm currently living near Atlanta, Georgia.</p>
        </div>
      </div>

      <div class="about__inner-container">
        <div class="text__container about--margin">
          <h3 class="text__subheading">What I do</h3>
          <p class="text__paragraph">I'm currently working for Novelle Web & Software, a small business I
            co-founded with my husband.</p>
          <p class="text__paragraph">In my spare time, I work on my own small projects, try out the infinite list of front-end tools, and contribute to open source.</p>
        </div>

        <img src="src/img/city.svg" class="about__city"></img>
      </div>
    </div>
  </section>

@@include('partials/cta.html')
@@include('partials/footer.html')