@@include('partials/header.html')
@@include('partials/nav.html')

  <div class="contact-page" id="home">
    <div class="contact-page__container">
      <h1 class="hero__heading contact-page__heading"><span class="hero__heading-span"><span class="hero__span">I'd love to </span></span>talk.</h1>
      <p class="contact__text text__paragraph">Feel free to contact me by email or social media.
        I'm currently available for freelance work on small projects and salary positions.</p>

      @@include('partials/contact-form.html')
      
    </div>
  </div>

@@include('partials/footer.html')