@@include('partials/header.html')
@@include('partials/nav.html')

  <div class="hero" id="home">
    <div class="hero__container">
      <h1 class="hero__heading"><span class="hero__heading-span">Hi, <span class="hero__span">I'm </span></span>Kellie.</h1>
      <p class="hero__subheading">I'm a front-end developer and wannabe designer currently working for <a href="https://kelliepetersen.github.io/novelle-simple/" target="_blank" class="hero__link">Novelle Web & Software</a>.
      <span class="hero__subheading-span">I'm available for work on small projects.</span></p>
      <div class="button__container">
        <a href="#contact" class="button button--big button--solid">Get in touch</a>
        <img src="src/img/arrow.svg" class="button__arrow button__arrow--big"/>
      </div>
    </div>
  </div>

  <section class="text__section i-about">
    <div class="i-about__container">
      <div class="i-about__image">
        <div class="shape__triangle shape__triangle--hollow"></div>
        <div class="shape__circle shape--right"></div>
        <div class="shape__circle shape--hollow shape--bottom"></div>
      </div>
      <div class="text__container">
        <h2 class="text__heading">About me.</h2>
        <p class="text__paragraph">I'm a self taught developer from Australia, now living near Atlanta GA. I began programming in university and loved it, and I haven't stopped since.
          <span class="text--block">I do my best to create websites and apps that work for everyone.</span></p>
        <div class="button__container i-about__button">
          <a href="about.html" class="button">More about me</a>
          <img src="src/img/arrow.svg" class="button__arrow" />
        </div>
      </div>
    </div>
  </section>

  <section class="text__section">
    <div class="i-skills">
      <h2 class="text__heading i-skills__heading">My skills.</h2>
      <div class="i-skills__container">
        <div class="i-skills__languages">
          <p class="text__small-heading">LANGUAGES</p>
          <div class="i-skills__grid">
            <div class="i-skills__icon"><p class="i-skills__logo">JS</p></div>
            <div class="i-skills__icon"><p class="i-skills__logo">TS</p></div>
            <div class="i-skills__icon"><img src="src/img/skills/html.png" alt=""></div>
            <div class="i-skills__icon"><img src="src/img/skills/react.svg" alt=""></div>
            <div class="i-skills__icon"><img src="src/img/skills/css.png" alt=""></div>
            <div class="i-skills__icon"><img src="src/img/skills/node.svg" alt=""></div>
          </div>
        </div>
        <div class="i-skills__item">
          <img src="src/img/skills/development.svg" alt="">
          <p class="text__small-heading">DEVELOPMENT</p>
          <p class="text__paragraph i-skills__text">I use plugins, libraries and frameworks to work efficiently and create optimized products.</p>
        </div>
        <div class="i-skills__item">
          <img src="src/img/skills/methods.svg" alt="">
          <p class="text__small-heading">METHODS</p>
          <p class="text__paragraph i-skills__text">I structure my code to be readable and maintainable, and my websites to be responsive and accessible.</p>
        </div>
        <div class="button__container i-skills__button">
          <a href="about.html" class="button">All my skills</a>
          <img src="src/img/arrow.svg" class="button__arrow" />
        </div>
      </div>
    </div>
  </section>

  <section class="text__section projects" id="projects">
    <h2 class="text__heading text--center text--margin">My work.</h2>

    <div class="projects__container"> 
      <div class="projects__text text__container">
        <h3 class="projects__subheading text__subheading">Novelle</h3>
        <div class="projects__summary">
          <p><span class="projects__summary-title">PROJECT:</span> Commercial Website</p>
          <p><span class="projects__summary-title">ROLE:</span> Design & Code</p>
        </div>
        <p class="text__paragraph text--hidden">Novelle Web & Software is a web design company for individuals and small businesses. I was responsible for design and all front-end code.</p>
        <p class="text__paragraph text--hidden-at-m">I wanted a design that was uncommon but simple. This website is frequently updated.</p>
        <div class="button__container">
          <a href="https://kelliepetersen.github.io/novelle-simple/" target="_blank" class="button projects__button">View website</a>
          <img src="src/img/arrow.svg" class="button__arrow" />
        </div>
      </div>
      <img src="src/img/novelle.jpg" alt="A screenshot of the Novelle landing page" class="projects__image">
    </div>

    <div class="projects__container">
      <div class="projects__text text__container">
        <h3 class="projects__subheading text__subheading">Rapha Walk</h3>
        <div class="projects__summary">
          <p><span class="projects__summary-title">PROJECT:</span> Non-Profit Website</p>
          <p><span class="projects__summary-title">ROLE:</span> Design & Code</p>
        </div>
        <p class="text__paragraph text--hidden">Each year, the Rapha Walk raises funds for Rapha Clinic, a non-profit medical centre helping families across West Georgia.</p>
        <p class="text__paragraph text--hidden-at-m">My role in this project was designing and implementing a website that allowed people to purchase tickets and donate to Rapha Clinic.</p>
        <div class="button__container">
          <a href="https://kelliepetersen.github.io/rapha-walk/" target="_blank" class="button projects__button">View website</a>
          <img src="src/img/arrow.svg" class="button__arrow" />
        </div>
      </div>
      <img src="src/img/rapha.jpg" alt="A screenshot of the Rapha Walk landing page" class="projects__image">
    </div>

    <div class="projects__container">
      <div class="projects__text text__container">
        <h3 class="projects__subheading text__subheading">Capricorn Coast</h3>
        <div class="projects__summary">
          <p><span class="projects__summary-title">PROJECT:</span> Personal Website</p>
          <p><span class="projects__summary-title">ROLE:</span> Design & Code</p>
        </div>
        <p class="text__paragraph text--hidden">This is a simple website that showcases the food, culture, and attractions of the Capricorn Coast.</p>
        <p class="text__paragraph text--hidden-at-m">It was one of the first websites I made. It's fully responsive and accessible.</p>
        <div class="button__container">
          <a href="https://kelliepetersen.github.io/capricorn-coast/" target="_blank" class="button projects__button">View website</a>
          <img src="src/img/arrow.svg" class="button__arrow" />
        </div>
      </div>
      <img src="src/img/capricorncoast.jpg" alt="A screenshot of the Capricorn Coast landing page" class="projects__image">
    </div>
  </section>

  <section class="contact" id="contact">
    <h2 class="text__heading text--no-margin text--center">Let's talk.</h2>
    <p class="contact__text text__paragraph">Feel free to contact me by email or social media.
      I'm currently available for freelance work on small projects and salary positions. Thank you.</p>
    
    @@include('partials/contact-form.html')
    
  </section>

@@include('partials/footer.html')