@@include('partials/header.html')
@@include('partials/nav.html')

  <div class="hero" id="home">
    <div class="hero__container">
      <h1 class="hero__heading"><span class="hero__heading-span">Hi, <span class="hero__span">I'm </span></span>Kellie.</h1>
      <p class="hero__subheading">I'm a front-end developer and wannabe designer currently working for <a href="http://www.novelleweb.com" target="_blank" class="hero__link">Novelle Web & Software</a>.
      <span class="hero__subheading-span">I'm available for work on small projects.</span></p>
      <a href="#contact" class="button hero__button">Get in touch<img src="src/img/arrow.svg" class="hero__arrow"/></a>
    </div>
  </div>

  <section class="text__section i-about">
    <div class="">
      <div class="text__container">
        <h2 class="text__heading">About me.</h2>
        <p class="text__paragraph">I'm Kellie, a front-end developer who sometimes attempts designing things. I grew up in Yeppoon, Australia.
          I moved to the USA 2 years ago, and I'm currently based in Atlanta, Georgia. I love turning interesting ideas into
        usable products.</p>
        <a href="#contact" class="button i-about__button">More about me<img src="src/img/arrow.svg" class="button__arrow" /></a>
      </div>
    </div>
  </section>

  <section class="text__section">
    <div class="text__container">
      <h2 class="text__heading">My skills.</h2>
      <div class="i-skills__container">
        <div class="i-skills__languages">
          <p class="text__small-heading">LANGUAGES</p>
          <div class="i-skills__grid">
            <div class="i-skills__icon"></div>
            <div class="i-skills__icon"></div>
            <div class="i-skills__icon"></div>
            <div class="i-skills__icon"></div>
            <div class="i-skills__icon"></div>
            <div class="i-skills__icon"></div>
          </div>
        </div>
        <div class="i-skills__item">
          <div class="i-skills__icon"></div>
          <p class="text__small-heading">RESPONSIVE</p>
          <p class="text__paragraph text--white">Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
        </div>
        <div class="i-skills__item">
          <div class="i-skills__icon"></div>
          <p class="text__small-heading">ACCESSIBLE</p>
          <p class="text__paragraph text--white">Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
        </div>
        <a href="#contact" class="button">All my skills<img src="src/img/arrow.svg" class="button__arrow" /></a>
      </div>
    </div>
  </section>

  <section class="text__section projects" id="projects">
    <h2 class="text__heading text--center text--margin">My work.</h2>

    <div class="projects__container"> 
      <div class="projects__text text__container">
        <h3 class="projects__subheading text__subheading">Novelle</h3>
        <div class="projects__summary">
          <p><span class="projects__summary-title">PROJECT:</span> Commercial Website</p>
          <p><span class="projects__summary-title">ROLE:</span> Design & Code</p>
        </div>
        <p class="text__paragraph text--hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
        <p class="text__paragraph text--hidden-at-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
        <a href="http://www.novelleweb.com" target="_blank" class="button projects__button">View website<img src="src/img/arrow.svg" class="button__arrow" /></a>
      </div>
      <img src="src/img/novelle.jpg" alt="A screenshot of the Novelle landing page" class="projects__image">
    </div>

    <div class="projects__container">
      <div class="projects__text text__container">
        <h3 class="projects__subheading text__subheading">Rapha Walk</h3>
        <div class="projects__summary">
          <p><span class="projects__summary-title">PROJECT:</span> Commercial Website</p>
          <p><span class="projects__summary-title">ROLE:</span> Design & Code</p>
        </div>
        <p class="text__paragraph text--hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
        <p class="text__paragraph text--hidden-at-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
        <a href="http://www.raphawalk.com" target="_blank" class="button projects__button">View website<img src="src/img/arrow.svg" class="button__arrow" /></a>
      </div>
      <img src="src/img/rapha.jpg" alt="A screenshot of the Rapha Walk landing page" class="projects__image">
    </div>

    <div class="projects__container">
      <div class="projects__text text__container">
        <h3 class="projects__subheading text__subheading">Capricorn Coast</h3>
        <div class="projects__summary">
          <p><span class="projects__summary-title">PROJECT:</span> Commercial Website</p>
          <p><span class="projects__summary-title">ROLE:</span> Design & Code</p>
        </div>
        <p class="text__paragraph text--hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
        <p class="text__paragraph text--hidden-at-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
        <a href="http://www.github.com/capricorncoast" target="_blank" class="button projects__button">View website<img src="src/img/arrow.svg" class="button__arrow" /></a>
      </div>
      <img src="src/img/capricorncoast.jpg" alt="A screenshot of the Capricorn Coast landing page" class="projects__image">
    </div>
  </section>

  <section class="contact" id="contact">
    <h2 class="text__heading text--no-margin text--center">Let's talk.</h2>
    <p class="contact__text text__paragraph">Feel free to contact me by email or social media.
      I'm currently available for freelance work on small projects and salary positions. Thank you.</p>
    <form action="POST" class="contact__form">
      <label for="name" class="contact__label">Name</label>
      <input type="text" name="name" required class="contact__input"/>
      <label for="email" class="contact__label">Email</label>
      <input type="email" name="email" required class="contact__input"/>
      <label for="message" class="contact__label">Message</label>
      <textarea name="message" cols="30" rows="10" required class="contact__message"></textarea>
      <div>
        <input type="submit" value="Send message" class="button contact__submit"/>
        <p class="contact__aside">or email me at <a href="mailto:contact@kelliepetersen.com" class="contact__aside-span">contact@kelliepetersen.com</a></p>
      </div>
    </form>
  </section>

@@include('partials/footer.html')