.button {
  display: block;
  background-color: var(--dark-purple);
  color: var(--white);
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.875em;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 12%/50%;
  padding: 20px 30px;
  width: max-content;

  &__icon {
    display: inline-block;
    background-color: var(--white);
    width: 20px;
    height: 15px;
    margin-left: 10px;
    vertical-align: bottom;
  }

  &--center {
    margin: 0 auto;
  }

  &--hidden {
    display: none;
  }
}