.button {
  display: block;
  background-color: var(--main-color);
  color: var(--white);
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 20px 30px;
  width: max-content;

  &__icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
  }

  &--small {
    padding: 15px 20px;
    font-size: 0.875em;
  }

  &--small > &__icon {
    width: 30px;
    margin-left: 10px;
  }
}