.footer {
  background-color: var(--secondary-bg);
  text-align: center;
  padding: 30px 0 20px 0;
  font-size: 0.75em;
  color: var(--gray);
  letter-spacing: 0px;

  &__logo {
    position: relative;
    display: block;
    text-decoration: none;
    user-select: none;
    color: var(--white);
    font-size: 40px;
    font-family: 'Montserrat', 'Poppins';
    font-weight: 700;
    width: 30px;
    height: 45px;
    margin: 0 auto;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      top: 9px;
      left: -2px;
      bottom: 8px;
      width: 10px;
      background-color: var(--main-color);
      z-index: -1;
    }
  }
}