.hero {
  width: 100vw;
  height: 100vh;
  position: relative;

  &__container {
    left: 7.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 85vw;

    @mixin atMobile {
      top: calc(50vh - 100px);
      transform: none;
    }

    @mixin atWide {
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1000px;
      width: max-content;
    }
  }

  &__heading {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    responsive-font-size: 6rem;
    margin: 0;
    max-width: 80%;
    width: max-content;
  }

  &__heading-span {
    color: var(--dark-gray);
    @mixin atWide {
      width: max-content;
      position: absolute;
      transform: translateX(calc(-100% - 30px));
      transform-origin: right top;
    }
  }

  &__span {
    display: block;
    @mixin atMobile {
      display: inline;
    }
    @mixin atWide {
      display: inline;
    }
  }

  &__subheading {
    font-family: 'Poppins', sans-serif;
    responsive-font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;
    margin: 20px 0 35px 0;
    color: #ccc;
    max-width: 640px;

    @mixin atMobile {
      margin: 10px 0 20px 0;
    }
    @mixin atMedium {
      padding-left: 5px;
    }
  }

  &__subheading-span {
    display: none;
    @mixin atMedium {
      display: block;
    }
  }

  &__link {
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
  }

  &--small {
    responsive-font-size: 1.25rem;
    line-height: 1.75;
  }
}