.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  width: 85vw;
  height: 80vh;
  font-family: 'Poppins';
  font-weight: 300;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;

  @mixin atMobile {
    flex-direction: row;
    align-items: flex-end;
    height: 60vh;
    max-width: 600px;
  }

  @mixin atLarge {
    display: none;
  }

  &__container {
    padding-left: 0;
    margin: 5px 0;
    max-width: 350px;
  }

  &__list-item {
    list-style-type: none;
  }
  
  &__link {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    padding: 5px 0;
    responsive-font-size: 2rem;
    border-bottom: 2px solid transparent;
    transition: 0.3s;

    &:hover {
      border-color: var(--white);
    }
  }
  
  &__container--big &__link {
    font-weight: 500;
    responsive-font-size: 4rem;

    &:hover {
      border-color: transparent;
      transform: scale(1.1);
    }
  }

  &__logo {
    width: 34px;
    @mixin atMobile {
      display: none;
    }
  }

  &__email {
    font-size: 1em;
    max-width: max-content;
    @mixin atMobile {
      position: absolute;
      bottom: -15%;
      right: 0%;
    }
  }

  &--is-open {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.35s;
  }
}