.nav {
  position: relative;
  z-index: 15;
  text-decoration: none;
  
  &__logo {
    position: fixed;
    top: 2.5%;
    left: 3%;
  }

  &__name, &__link {
    display: none;
    text-decoration: none;
    color: var(--white);
    font-family: 'Poppins';
  }

  &__name {
    font-weight: 400;
    font-size: 1.25em;
  }

  &__name-span {
    color: var(--main-color);
    font-weight: 500;
  }

  &__link {
    font-weight: 200;
  }

  &__section {
    list-style-type: none;
  }
}