.nav {
  position: relative;
  width: 100%;
  z-index: 15;
  text-decoration: none;

  &__logo {
    position: fixed;
    top: 2.5%;
    left: 3%;
  }

  &__name, &__link {
    text-decoration: none;
  }

  &__section {
    list-style-type: none;
  }
}