.shape {

  &__diamond {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--purple);
    margin-right: 10px;
    transform: rotate(45deg);
  }

  &--dark {
    opacity: 0.5;
  }
}