.sidebar {
  display: none;
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 10;

  @mixin atLarge {
    display: block;
  }

  @mixin atMonitor {
    right: 75px;
  }

  &__icon {
    display: block;
    width: 35px;
    margin: 20px 0;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__description {
    position: absolute;
    left: -280px;
    top: 25%;
    width: 250px;
    text-align: right;
    font-weight: 200;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  &__text {
    margin: 0;
  }

  &__line {
    position: relative;
    width: 30px;
    height: 1px;
    background-color: var(--white);
    margin-left: 20px;
  }

  &__container {
    position: relative;
  }

  &__icon:hover + &__description {
    visibility: visible;
    opacity: 1;
  }

  &__resume {
    position: relative;
    width: 35px;
    height: 35px;
  }

  &__row {
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: var(--white);
  }

  &__row:nth-of-type(2) {
    width: 60%;
    top: 9px;
  }
  
  &__row:nth-of-type(3) {
    top: 18px;
  }

  &__row:nth-of-type(4) {
    width: 60%;
    top: 27px;
  }
}