.sidebar {
  display: none;
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 10;

  @mixin atLarge {
    display: block;
  }

  @mixin atMonitor {
    right: 75px;
  }

  &__icon {
    display: block;
    width: 35px;
    margin: 20px 0;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__description {
    position: absolute;
    left: -280px;
    top: 25%;
    width: 250px;
    text-align: right;
    font-weight: 200;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  &__text {
    margin: 0;
  }

  &__line {
    position: relative;
    width: 30px;
    height: 1px;
    background-color: var(--white);
    margin-left: 20px;
  }

  &__container {
    position: relative;
  }

  &__icon:hover + &__description {
    visibility: visible;
    opacity: 1;
  }

  &__resume {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 50%;
  }

  &__row {
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: var(--main-bg);
    top: 10px;
    left: 7px;
  }

  &__row:nth-of-type(2) {
    width: 40%;
    top: 15px;
  }
  
  &__row:nth-of-type(3) {
    top: 20px;
  }

  &__row:nth-of-type(4) {
    width: 40%;
    top: 25px;
  }

  &__heart-container {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 50%;
  }

  &__heart {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 22.5px;
  }

  &__heart:before, &__heart:after {
    position: absolute;
    content: "";
    left: 12.5px;
    top: 0;
    width: 12.5px;
    height: 20px;
    background: var(--main-bg);
    border-radius: 12.5px 12.5px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  &__heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
  }
}