.text {

  &__section {
    margin-bottom: 30vw;
    @mixin atMedium {
      margin-bottom: 200px;
    }
  }

  &__container {
    width: 85%;
    margin: 0 auto;
    @mixin atMedium {
      width: 100%;
      max-width: 650px;
    }
    @mixin atLarge {
      margin: 0;
    }
  }

  &__heading, &__subheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  &__heading {
    responsive-font-size: 4.5rem;
    text-align: center;
    margin-bottom: calc(50px + 5vw);
  }

  &__subheading {
    responsive-font-size: 3rem;
    margin-bottom: 10px;
    @mixin atMedium {
      margin-top: 0;
    }
  }

  &__paragraph {
    font-weight: 300;
    line-height: 1.5;
    color: var(--gray);
    responsive-font-size: 1.25rem;
    max-width: 550px;
  }

  &--no-margin {
    margin-bottom: 30px;
  }

  &--hidden {
    display: none;
    @mixin atMedium {
      display: block;
    }
  }

  &--hidden-at-m {
    display: none;
    @mixin atLarge {
      display: block;
      margin-bottom: 30px;
    }
  }
}